
/* 轮播图样式 */

.focus {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: purple;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
}

.focus ul li {
    float: left;
    width: 20%;
}
.focus ul li img {
    width: 100%;
    height: 100%;
}

.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 60px;
    height: 100px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 20px;
    z-index: 2;
}

.arrow-r {
    right: 0;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    /*background-color: #fff;*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 6px;
    border-radius: 50%;
    /*鼠标经过显示小手*/
    cursor: pointer;
}

.current {
    background-color: #fff;
}

/* 轮播图样式结束 */
